/*
Theme Name:     Terviserajad-Responsive
Theme URI:
Description:    Tereviserajad.ee teema on Responsive tütarteema
Author:         Kuulind Meedia oü
Author URI:		kuulind.eu
Template:       responsive
Version:        1
*/

/*This @import line loads the stylesheet from the parent theme */
@import url("../responsive/style.css");

/* Kuulind lisatud */

.widget-wrapper{
	min-height: 230px;
}

.post-meta {
    display: none;
}

.post-data{
	display: none;
}

.call-to-action a.button {
	padding: 10px 30px;
}

.call-to-action a.blue.button{
	font-size: 1.1em;
}
h1{
	font-size: 1.4em;
	line-height: 1.4em;
}
h6{
	display: none;
}

div#featured-image{
	height: 400px;
}

.etrmap-page {
	margin-bottom: 20px;
	height: 500px;
}

div.map-home{
	margin: 0 20px;
}
div.map-home-height{
	height: 440px;
}
/* triggered with jquery */
div.counties-page{
	width: 170px;
	position: relative;
	top: 80px;
	left: 0;
	/*background: white;*/
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	opacity: .7;
	z-index: 2;
	padding: 10px;
	border-radius: 3px;
}


ul.etrPlace li{
	font-size: 1em;
	line-height: 1.2em;

}
.list-etr-places{
	position: relative;
	top: -270px;
	left: 170px;
	background: #DDD;
	width: 250px;
	padding: 10px;
	border-radius: 5px;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	opacity: .8;
	list-style-position: inside;
}

.infobox-info, .trckname{
	cursor: pointer;
}

.featimg{
	float: left;
}

.attachment-post-thumbnail{
	float: right;
}

#sponsors {
	float: right;
	margin-bottom: 20px;
	background: white;
	border-radius: 5px;
	/*-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
	filter: alpha(opacity=95);
	opacity: .95;*/
}

#sponsors img{
	/*width: 70px;*/
	display: inline;
}

#sponsors>div{
	float: left;
}
#sponsors span{
	float: left;
	font-size: .9em;
	font-weight: bold;
	position: relative;
	top: 20px;
	right: -20px;
}

.featured-subtitle{
	font-size: 1.4em;
}

#featured p.featured-p {
	font-weight: 400;
	font-family: 'Monda';
	line-height: 1.4em;
	font-size: 1em;
	color: #898989;
}

.swedbank, .merko, .energia {
	width: 85px;
	height: 45px;
	display: inline-block;
}

.front-sponsors-img {
	background: url('images/sponsorid-all-color.png');
	width: 239px;
	height: 46px;
	margin: 20px auto 30px;
}

.swedbank{
	background: url('images/swedbank-col.png');

}
.merko{
	background: url('images/merko-col.png');
	/*border-right: 1px solid gray;*/
}
.energia{
	background: url('images/energia-col.png');
	/*border-right: 1px solid gray;*/
}

/*.swedbank:hover{
	background: url('images/swedbank-col.png');
}
.merko:hover{
	background: url('images/merko-col.png');
}
.energia:hover{
	background: url('images/energia-col.png');
}*/

#front-sponsors{
	margin: 10px 0;
}
.swedbank-f, .merko-f, .energia-f{
	width: 85px;
	height: 45px;
	display: inline-block;
}
.swedbank-f{
	background: url('images/swedbank-col.png');
}
.merko-f{
	background: url('images/merko-col.png');
}
.energia-f{
	background: url('images/energia-col.png');
}

.col-front-wide{
	width: 550px;
}

/* testing google maps on etr2 */

#map_canvas{
	width: 100%;
	height: 400px;
	margin-bottom: 20px;
}

#map_canvas img{max-width:none}


#map_canvas_all{
	width: 95%;
	height: 400px;
	margin: 0 auto;
}

#map_canvas_all p {
	text-align: left;
	padding: 0;
	font-family: 'titillium web';
	font-weight: 400;
	font-size: 1em;
	line-height: 1.4em;
	color: #000;
}

.place-content{
	width: 350px;
}

#map_canvas_all img{max-width:none}

/* testing worlds snow day banner */

.wsd-container{
	width: 400px;
}

#wsd-date-img {
	float: right;
	margin-top: -65px;
	margin-right: -13px;
	width: 85px;
}

#wsd-text-banner{
	color: white;
	text-align: right;
	margin-top: -35px;
	padding-right: 20px;
	font-family: 'titillium web';
	font-size: 1em;
}

#wsd-text-banner span a{
	color: white;
	font-size: .85em;
}

.wsd-separator{
	margin-right: 7px;
}

.wsd-separator img{
	width: 28px;
}

/*wsd map */

#wsd-map{
	width: inherit;
	height: 500px;
	margin-top: 10px;
}
#wsd-map img{max-width:none}

#wsd-map h4, #map_canvas_all h4{
	color: white;
	border-radius: 2px;
	padding: 10px 5px;
}

#wsd-map h4{
	background: #0097d7;
}

#map_canvas_all h4{
	background: #038659;
}

.wsd-content p{
	width: 400px;
	margin-left: 5px;
	font-size: 1.1em;
	font-family: 'titillium web'
}

.wsd-content img{
	padding: 10px;
	float: right;
}

img.wp-post-image{
	margin: 10px;
}