﻿body {
	font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
	font-size: small;
	margin: 8px 0 16px;
	text-align: center;
}
#form_container {
	background: #fff;
	margin: 0 auto;
	text-align: left;
}
#top {
	display: block;
	height: 10px;
	margin: 10px auto 0;
}
#footer {
	width: 640px;
	clear: both;
	color: #999999;
	text-align: center;
	width: 640px;
	padding-bottom: 15px;
	font-size: 85%;
}
#footer a {
	color: #999999;
	text-decoration: none;
	border-bottom: 1px dotted #999999;
}
#bottom {
	display: block;
	height: 10px;
	margin: 0 auto;
}
form.appnitro {
	margin: 20px 20px 0;
	padding: 0 0 20px;
}
/**** Form Section ****/
.appnitro {
	font-family: Lucida Grande, Tahoma, Arial, Verdana, sans-serif;
	font-size: small;
}
.appnitro li {
	width: 70%;
}
form ul {
	font-size: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
}
form li {
	display: block;
	margin: 0;
	padding: 1px 1px 2px 9px;
	position: relative;
}
form li:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}
.buttons:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}
.buttons {
	clear: both;
	display: block;
	margin-top: 10px;
}
* html form li {
	height: 1%;
}
* html .buttons {
	height: 1%;
}
* html form li div {
	display: inline-block;
}
form li div {
	color: #444;
	margin: 0 4px 0 0;
	padding: 0 0 1px;
}
form li span {
	color: #444;
	float: left;
	margin: 0 4px 0 0;
	padding: 0 0 1px;
}
form li div.left {
	display: inline;
	float: left;
	width: 48%;
}
form li div.right {
	display: inline;
	float: right;
	width: 48%;
}
form li div.left .medium {
	width: 100%;
}
form li div.right .medium {
	width: 100%;
}
form li.selurl a {
	border: 1px solid #800000;
	border-radius: 3px;
	color: #800000;
	float: left;
	margin: 0 5px 0 0;
	padding: 3px;
	text-decoration: none;
	font-size: small;
	font-weight: bold;
	background-color: #CCCCCC;
}
form a.buttonUrl {
	border: 1px solid #800000;
	border-radius: 3px;
	color: #800000;
	float: left;
	margin: 0 5px 0 0;
	padding: 3px;
	display: inline-block;
	text-decoration: none;
	font-size: x-small;
	font-weight: bold;
	background-color: #FFCC99;
	width: 105px;
}

.clear {
	clear: both;
}
form li div label {
	clear: both;
	color: #444;
	display: block;
	font-size: 9px;
	line-height: 9px;
	margin: 0;
	padding-top: 3px;
}
form li span label {
	clear: both;
	color: #444;
	display: block;
	font-size: 9px;
	line-height: 9px;
	margin: 0;
	padding-top: 3px;
}
form li .datepicker {
	cursor: pointer !important;
	float: left;
	height: 16px;
	margin: .1em 5px 0 0;
	padding: 0;
	width: 16px;
}
.form_description {
	border-bottom: 1px dotted #ccc;
	clear: both;
	display: inline-block;
	margin: 0 0 1em;
}
.form_description[class] {
	display: block;
}
.form_description h2, h2 {
	clear: left;
	font-size: 160%;
	font-weight: 400;
	margin: 7px;
}
.form_description p {
	font-size: 95%;
	line-height: 130%;
	margin: 0 0 12px;
}
form hr {
	padding: 2px;
	display: none;
}
form li.section_break {
	border-top: 1px dotted #ccc;
	margin-top: 9px;
	padding-bottom: 0;
	padding-left: 9px;
	padding-top: 13px;
	width: 97% !important;
	list-style-type: none;
}
form ul li.first {
	border-top: none !important;
	margin-top: 0 !important;
	padding-top: 0 !important;
}
form .section_break h3 {
	font-size: 110%;
	font-weight: 400;
	line-height: 130%;
	margin: 0 0 2px;
}
form .section_break p {
	font-size: 85%;
	margin: 0 0 10px;
}
/**** Buttons ****/
input.button_text {
	overflow: visible;
	padding: 0 7px;
	width: auto;
}
.buttons input {
	font-size: 120%;
	margin-right: 5px;
}
/**** Inputs and Labels ****/
label.description {
	border: none;
	color: #222;
	display: block;
	font-size: 95%;
	font-weight: 700;
	line-height: 150%;
	padding: 0 0 1px;
}
span.symbol {
	font-size: 115%;
	line-height: 130%;
}
input.text {
	background: #fff url(shadow.gif) repeat-x top;
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #c3c3c3;
	border-right: 1px solid #c3c3c3;
	border-top: 1px solid #7c7c7c;
	color: #333;
	font-size: 100%;
	margin: 0;
	padding: 2px 0;
}
input.file {
	color: #333;
	font-size: 100%;
	margin: 0;
	padding: 2px 0;
}
textarea.textarea {
	background: #fff url(shadow.gif) repeat-x top;
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #c3c3c3;
	border-right: 1px solid #c3c3c3;
	border-top: 1px solid #7c7c7c;
	color: #333;
	font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
	font-size: 100%;
	margin: 0;
	width: 99%;
}
select.select {
	color: #333;
	font-size: 100%;
	margin: 1px 0;
	padding: 1px 0 0;
	background: #fff url(shadow.gif) repeat-x top;
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #c3c3c3;
	border-right: 1px solid #c3c3c3;
	border-top: 1px solid #7c7c7c;
}
input.currency {
	text-align: right;
}
input.checkbox {
	display: block;
	height: 13px;
	line-height: 1.4em;
	margin: 6px 0 0 3px;
	width: 13px;
}
input.radio {
	display: block;
	height: 13px;
	line-height: 1.4em;
	margin: 6px 0 0 3px;
	width: 13px;
}
label.choice {
	color: #444;
	display: block;
	font-size: 100%;
	line-height: 1.4em;
	margin: -1.55em 0 0 25px;
	padding: 4px 0 5px;
	width: 90%;
}
select.select[class] {
	margin: 0;
	padding: 1px 0;
}
*:first-child + html select.select[class] {
	margin: 1px 0;
}
.safari select.select {
	font-size: 120% !important;
	margin-bottom: 1px;
}
input.small {
	width: 25%;
}
select.small {
	width: 25%;
}
input.medium {
	width: 50%;
}
select.medium {
	width: 50%;
}
input.large {
	width: 99%;
}
select.large {
	width: 100%;
}
textarea.small {
	height: 5.5em;
}
textarea.medium {
	height: 10em;
}
textarea.large {
	height: 20em;
}
/**** Errors ****/
#error_message, .pageError {
	background: #fff;
	border: 1px dotted red;
	margin-bottom: 1em;
	padding-left: 0;
	padding-right: 0;
	padding-top: 4px;
	text-align: center;
	width: 99%;
}
#error_message_title {
	color: #DF0000;
	font-size: 125%;
	margin: 7px 0 5px;
	padding: 0;
}
#error_message_desc {
	color: #000;
	font-size: 100%;
	margin: 0 0 .8em;
}
#error_message_desc strong {
	background-color: #FFDFDF;
	color: red;
	padding: 2px 3px;
}
form li.error {
	background-color: #FFDFDF !important;
	border-bottom: 1px solid #EACBCC;
	border-right: 1px solid #EACBCC;
	margin: 3px 0;
}
form li.error label {
	color: #DF0000 !important;
}
form p.error {
	clear: both;
	color: red;
	font-size: 10px;
	font-weight: 700;
	margin: 0 0 5px;
}
form .required {
	color: red;
	float: none;
	font-weight: 700;
}
/**** Guidelines and Error Highlight ****/
form li.highlighted {
	background-color: #fff7c0;
}
form .guidelines {
	background: #f5f5f5;
	border: 1px solid #e6e6e6;
	color: #444;
	font-size: 80%;
	left: 100%;
	line-height: 130%;
	margin: 0 0 0 8px;
	padding: 8px 10px 9px;
	position: absolute;
	top: 0;
	visibility: hidden;
	width: 30%;
	z-index: 1000;
}
form .guidelines small {
	font-size: 105%;
}
form li.highlighted .guidelines {
	visibility: visible;
}
form li:hover .guidelines {
	visibility: visible;
}
.no_guidelines .guidelines {
	display: none !important;
}
.no_guidelines form li {
	width: 97%;
}
.no_guidelines li.section {
	padding-left: 9px;
}
/*** Success Message ****/
.form_success {
	clear: both;
	margin: 0;
	padding: 90px 0pt 100px;
	text-align: center;
}
.form_success h2 {
	clear: left;
	font-size: 160%;
	font-weight: normal;
	margin: 0pt 0pt 3px;
}
/*** Password ****/
ul.password {
	margin-top: 60px;
	margin-bottom: 60px;
	text-align: center;
}
.password h2 {
	color: #DF0000;
	font-weight: bold;
	margin: 0pt auto 10px;
}
.password input.text {
	font-size: 170% !important;
	width: 380px;
	text-align: center;
}
.password label {
	display: block;
	font-size: 120% !important;
	padding-top: 10px;
	font-weight: bold;
}
#li_captcha {
	padding-left: 5px;
}
#li_captcha span {
	float: none;
}
/** Embedded Form **/
.embed #form_container {
	border: none;
}
.embed #top, .embed #bottom, .embed h1 {
	display: none;
}
.embed #form_container {
	width: 100%;
}
.embed #footer {
	text-align: left;
	padding-left: 10px;
	width: 99%;
}
.embed #footer.success {
	text-align: center;
}
.embed form.appnitro {
	margin: 0px 0px 0;
}
.lListClick{
	border-radius: 4px;
	width: 200px;
	border: 2px solid #FF9933;
	text-align: left;
	padding: 1px 6px 1px 4px;
	cursor: pointer;
	margin: 2px 1px 4px 1px;
	font-weight: bolder;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*** ETR spets ****/
div.etricon
{
	background: url("<?php content_url('/rajad/gfx/ikoonid.png');?>") no-repeat left top;
	background-position: 0 0px;
	width: 25px;
	height: 25px;
	border-style: none;
	background-color: transparent;
}
div.trckname{
	font-weight: bold;
	border-bottom-style: solid;
	border-bottom-width: 5px;
	border-bottom-color: #FFFFFF;
	display: inline-block;
	width: 100%;
}
/*Modal window */
option.notselected {
 color: #000;
 background: #FF6;
 }
.tbox {position:absolute; display:none; padding:14px 17px; z-index:900}
.tinner {padding:15px; -moz-border-radius:5px; border-radius:5px; background:#fff url(../gfx/preload.gif) no-repeat 50% 50%; border-right:1px solid #333; border-bottom:1px solid #333}
.tmask {position:absolute; display:none; top:0px; left:0px; height:100%; width:100%; background:#000; z-index:800}
.tclose {position:absolute; top:0px; right:0px; width:30px; height:30px; cursor:pointer; background:url(../gfx/close.png) no-repeat}
.tclose:hover {background-position:0 -30px}

#error {background:#ff6969; color:#fff; text-shadow:1px 1px #cf5454; border-right:1px solid #000; border-bottom:1px solid #000; padding:0}
#error .tcontent {padding:10px 14px 11px; border:1px solid #ffb8b8; -moz-border-radius:5px; border-radius:5px}
#success {background:#2ea125; color:#fff; text-shadow:1px 1px #1b6116; border-right:1px solid #000; border-bottom:1px solid #000; padding:10; -moz-border-radius:0; border-radius:0}
#bluemask {background:#4195aa}
#frameless {padding:0}
#frameless .tclose {left:6px}
